@use '../helpers/' as *;

.answers {

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
        padding-bottom: rem(10);
        padding-inline: 0;
        margin-inline: rem(15);

        @include mobile {
            align-items: start;
        }
    }

    & .container::-webkit-scrollbar {
        height: rem(10);
    }

    & .container::-webkit-scrollbar-track {
        background: var(--color-text-35);
    }

    & .container::-webkit-scrollbar-thumb {
        background: var(--color-text-85);
        border-radius: rem(6);

        &:hover {
            background: var(--color-text); // если есть такая переменная
        }
    }

    &__table {
        justify-self: center;
    }

    &__thead {
        transition: all .25s;
        height: 100%;

        &-tr {
            display: flex;
            column-gap: fluid(16, 8);
            padding-bottom: rem(20);
            align-items: center;
        }

        &-th {
            display: flex;
            position: relative;
            width: fluid(100, 65);
            height: fluid(70, 50);
            justify-content: center;
            align-items: center;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                translate: -50%;

                height: rem(2);
                width: 80%;

                background-color: var(--color-text);
            }
        }

        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            height: 0%;
        }
    }

    &__tbody {
        display: flex;
        flex-direction: column;
        row-gap: rem(10);

        &-tr {
            display: flex;
            column-gap: fluid(16, 8);
            align-items: center;
        }

        &-td {
            display: flex;
            position: relative;
            @include square(#{fluid(100, 65)});
            justify-content: center;
            align-items: center;
            text-align: center;
            color: var(--color-white);
            font-size: fluid(16, 12);
            font-weight: 500;
            transition: var(--transition-duration);


            word-break: break-word;
            text-wrap: wrap;

            border: rem(1) solid var(--color-text);

            @include hover {
                opacity: 0.85;
            }

            & img {
                @include square(#{fluid(95, 55)});
            }

            &-wrong {
                background-color: var(--color-accent-red);
            }

            &-partial {
                background-color: var(--color-accent-yellow);
            }

            &-correct {
                background-color: var(--color-accent-green);
            }

            &:not(:nth-child(1)) {
                animation: flipCard 0.7s ease forwards;
            }

            &.no-animation {
                animation: none;
            }


        }
    }

}