<dialog class="setting-modal" data-js-setting-modal>
    <button class="setting-modal__close-btn button--icon" data-js-setting-modal-close-btn></button>
    <div class="setting-modal__colorblind-box">
        <h3 class="setting-modal__title">Режим дальтоника</h3>
        <button class="setting-modal__colorblind-btn" aria-pressed="false" data-js-settings-colorblind-btn>
            <span class="setting-modal__colorblind-thumb"></span>
        </button>
    </div>
    <div class="setting-modal__theme-box">
        <h3 class="setting-modal__title">Выбор темы сайта</h3>
        <select name="theme" id="theme" class="setting-modal__theme-select" disabled>
            <option value="purple">Фиолетовая</option>
        </select>
    </div>
</dialog>