@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/Inter18pt-Light.eot') format("eot"),
        url('../fonts/Inter/Inter18pt-Light.woff') format("woff"),
        url('../fonts/Inter/Inter18pt-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/Inter18pt-Regular.eot') format("eot"),
        url('../fonts/Inter/Inter18pt-Regular.woff') format("woff"),
        url('../fonts/Inter/Inter18pt-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/Inter18pt-Medium.eot') format("eot"),
        url('../fonts/Inter/Inter18pt-Medium.woff') format("woff"),
        url('../fonts/Inter/Inter18pt-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/Inter18pt-SemiBold.eot') format("eot"),
        url('../fonts/Inter/Inter18pt-SemiBold.woff') format("woff"),
        url('../fonts/Inter/Inter18pt-SemiBold.woff2') format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/Inter18pt-Bold.eot') format("eot"),
        url('../fonts/Inter/Inter18pt-Bold.woff') format("woff"),
        url('../fonts/Inter/Inter18pt-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cinzel";
    src: url('../fonts/Cinzel/Cinzel-Bold.eot') format("eot"),
        url('../fonts/Cinzel/Cinzel-Bold.woff') format("woff"),
        url('../fonts/Cinzel/Cinzel-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
